{% block page_content %}
<div class="py-20 row">
    <div class="col-sm-2">
        <img src="{{ image }}" alt="{{ title }}" width="400" height="450">
    </div>
    <div class="col">
        <h1>{{ title }}</h1>
        <p class="lead">By : {{ author }}</p>
        <div>Rating : <strong>{{ rating }}</strong></div><br>
        <div class="mt-4">
            <div>Publish Date : <strong>{{ publish_date }}</strong></div>
        </div>
        <p>{{ content }}</p>
    </div>
</div>
{% endblock %}

<!-- This is a new Comment  -->
